/* Body and general styling */
body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

/* Main heading */
h1 {
    text-align: center;
    font-size: 3em;
    background-color: lightblue;
}





#paragraph2 {
    border: 5px solid green;
    background-color: white;
    padding: 20px;
}

.blue {
    background-color: darkblue;
    color: white;
    padding: 15px;
    margin: 10px ;
}






table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
}

th {
    background-color: lightgray;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    text-align: left;
} 
td {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}




